<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOODAPPLICATION"
        tools:targetApi="31">
        <activity
            android:name=".district.VirudhunagarActivity"
            android:exported="false" />
        <activity
            android:name=".district.VillupuramActivity"
            android:exported="false" />
        <activity
            android:name=".district.VelloreActivity"
            android:exported="false" />
        <activity
            android:name=".district.TrichyActivity"
            android:exported="false" />
        <activity
            android:name=".district.TiruvarurActivity"
            android:exported="false" />
        <activity
            android:name=".district.TiruvannamalaiActivity"
            android:exported="false" />
        <activity
            android:name=".district.TiruppathurActivity"
            android:exported="false" />
        <activity
            android:name=".district.ThoothukudiActivity"
            android:exported="false" />
        <activity
            android:name=".district.ThiruvallurActivity"
            android:exported="false" />
        <activity
            android:name=".district.TheniActivity"
            android:exported="false" />
        <activity
            android:name=".district.NilgirisActivity"
            android:exported="false" />
        <activity
            android:name=".district.ThanjavurActivity"
            android:exported="false" />
        <activity
            android:name=".district.TenkasiActivity"
            android:exported="false" />
        <activity
            android:name=".district.SivagangaiActivity"
            android:exported="false" />
        <activity
            android:name=".district.SalemActivity"
            android:exported="false" />
        <activity
            android:name=".district.RanipetActivity"
            android:exported="false" />
        <activity
            android:name=".district.RamanathapuramActivity"
            android:exported="false" />
        <activity
            android:name=".district.PudukkottaiActivity"
            android:exported="false" />
        <activity
            android:name=".district.PerambalurActivity"
            android:exported="false" />
        <activity
            android:name=".district.NamakkalActivity"
            android:exported="false" />
        <activity
            android:name=".district.NagappattinamActivity"
            android:exported="false" />
        <activity
            android:name=".district.MaduraiActivity"
            android:exported="false" />
        <activity
            android:name=".district.KrishnagiriActivity"
            android:exported="false" />
        <activity
            android:name=".district.KarurActivity"
            android:exported="false" />
        <activity
            android:name=".district.KanyakumariActivity"
            android:exported="false" />
        <activity
            android:name=".district.KancheepuramActivity"
            android:exported="false" />
        <activity
            android:name=".district.KallakurichiActivity"
            android:exported="false" />
        <activity
            android:name=".district.ErodeActivity"
            android:exported="false" />
        <activity
            android:name=".district.DindigulActivity"
            android:exported="false" />
        <activity
            android:name=".district.DharmapuriActivity"
            android:exported="false" />
        <activity
            android:name=".district.CuddaloreActivity"
            android:exported="false" />
        <activity
            android:name=".district.ChengalpattuActivity"
            android:exported="false" />
        <activity
            android:name=".district.AriyalurActivity"
            android:exported="false" />
        <activity
            android:name=".district.TirunelveliActivity"
            android:exported="false" />
        <activity
            android:name=".district.ChennaiActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".district.TiruppurActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".district.CoimbatoreActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".login.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".profile.EditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".district.DistrictActivity"
            android:exported="false" />
        <activity
            android:name=".cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".HomeActivity"
            android:exported="true" />
    </application>

</manifest>